<style>

* {
    box-sizing: border-box;
}
 
html{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  

}
.main {
    width: 95%;
    max-width: 500px;
    margin: 15vh auto;
    text-align: center;
    background: #fff;
}

.main.larger {
    max-width: 700px;
    margin: 10vh auto;
}

.main h3 {
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.main .lower-text {
    display: block;
    margin-top: 30px;
    margin-bottom: -5px;
    color: #333;
    font-style: normal;
}

.main.larger .tasklist {
    padding: 0 30px;
    text-align: left;
}
.main.larger .task {
    margin-bottom: 10px;
    display: block;
}

.logout-btn {
    margin-top: -10px;
    display: block;
    color: #333;
    font-size: 13px;
}

</style>    